.Avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    color: $headings-color;
    background: #EEEFF1;
    flex-shrink: 0;

    &-noPhoto {
        width: 12px;
        height: 12px;
        fill: $headings-color;
        display: block;
    }

    img {
        width: 100%;
    }
}

.Avatar--animated {
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: .75s;
}

.Avatar--you {
    background: $secondary-color;
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
