.Avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-flex;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    color: $headings-color;
    background: #EEEFF1;
    flex-shrink: 0;

    &-noPhoto {
        width: 12px;
        height: 12px;
        fill: $headings-color;
        display: block;
    }

    img {
        width: 100%;
    }
}