.Button {
    display: inline-block;
    background: $light-green;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(54, 220, 153, 0.57);
    transition: all 300ms ease;

    &-text {
        color: white;
        text-transform: uppercase;
    }

    &:hover {
        background: darken($light-green, 10%);
    }
}

.Button--transparent {
    background: rgba(black, 0.51);
    border: 2px solid $light-green;
    border-radius: 2px;

    .Button-text {
        color: $light-green;
    }

    &:hover {
        background: $light-green;

        .Button-text {
            color: white;
        }
    }
}

.Button--big {
    padding: 20px;

    .Button-text {
        font-size: 1.25rem;
    }
}
