.EventItem {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    color: $text-color;
    transition: all 300ms;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid #EEEFF1;

    &:hover,
    &:focus {
        outline: none;
        background: #EEEFF1;
    }

    &:last-of-type {
        border: none;
    }

    &-image {
        width: 150px;
        height: 100px;
        background-color: darken($secondary-color, 30%);
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }

    &-textSide {
        width: 100%;
        position: relative;
        z-index: 2;
        margin: 0 20px;
    }

    &-title {
        font-weight: bold;
        font-size: 1rem;
        color: $headings-color;
        display: block;
    }

    &-place {
        display: flex;
        font-size: 0.875rem;
        align-items: center;
        justify-content: space-between;
    }

    &-date {
        display: block;
        font-size: 0.875rem;
    }

    &-badge {
        background: $primary-color;
        color: #fff;
        font-size: 0.733rem;
        font-weight: bold;
        padding: 5px 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 0 0;
    }

    &-badge--private {
        background: $secondary-color;
    }

    &:hover,
    &:focus {
        color: $text-color;
        box-shadow: 0 0 10px rgba(#000, 0.1);
    }
}

.EventItem--compact {
    max-width: calc(33% - 10px);
    margin: 0;
    align-items: flex-start;
    flex-flow: column;
    padding: 0;

    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        transform: translateY(-2px);
    }

    .EventItem-image {
        width: 100%;
        height: 150px;
    }

    .EventItem-textSide {
        margin: 10px 0 0;
    }

    .EventItem-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}