.Menu {
    height: $menu-height;
    position: relative;
    z-index: 10;
    transition: all 300ms;

    &-navigationItemsContainer {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &-navigationItem {
        height: $menu-height;
        display: flex;
        align-items: center;
        padding: 0 10px;

        &:first-of-type {
            padding-left: 50px;
        }

        &:last-of-type {
            padding-right: 30px;
        }
    }

    &-link {
        height: $menu-height;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
        font-size: 0.875rem;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $secondary-color;
            transform: translateY(2px);
            transition: all 300ms;
            box-shadow: 0 0 2px rgba($secondary-color, 0.5);
            border-radius: 50% 50% 0 0;
        }

        &:hover {
            color: white;
        }

        &:hover:after {
            transform: translateY(0);
        }
    }

    &-link.isActive {
        &:after {
            transform: translateY(0);
        }
    }

    &-logo {
        margin-right: 20px;
    }

    &-logoIcon {
        width: 30px;
        height: 30px;
        display: block;
    }

    &-userPhoto {
        display: inline-block;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    &-user {
        display: inline-block;
        color: #fff;
        font-size: 0.875rem;
        font-weight: bold;
    }

    &-fixed {
        height: $menu-height;
        box-shadow: 0 2px 6px 0 rgba(#000, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #0E1739;
    }

    &:not(.isHidden) &-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    &.isHidden {
        margin-top: -$menu-height;
    }
}

