.Notifications {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    font-size: 0.75rem;
    margin-bottom: 20px;

    &-header {
        height: 50px;
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EEEFF1;
    }

    &-title {
        font-weight: bold;
    }

    &-item {
        display: flex;
        padding: 15px 18px;
        border-bottom: 1px solid #EEEFF1;
        position: relative;
        transition: all 300ms;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background: $primary-color;
            transition: all 300ms;
            transform: translateX(-2px) scale(0);
        }
    }

    &-item--unread {
        background: rgba($primary-color, 0.2);

        &:after {
            transform: translateX(0) scale(1);
        }

        .Notifications-date {
            color: darken(#787D83, 20%);
        }
    }

    &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 10px;
        background: #EEEFF1;
    }

    &-avatarContainer {
        position: relative;
    }

    &-image {
        width: 100%;
    }

    &-itemTitle {
        font-weight: bold;
        font-size: 0.875rem;
        color: $headings-color;
    }

    &-itemTitle--simple {
        font-weight: normal;
        font-size: 0.75rem;
    }

    &-eventName {
        font-weight: bold;
        color: $headings-color;
        font-size: 0.875rem;
    }

    &-container {
        margin: 5px 0;
    }

    &-thumbnailContainer {
        margin: 5px 0;
        width: 100px;
        height: 60px;
        display: block;
        background: #EEEFF1;
        border-radius: 4px;
        overflow: hidden;
    }

    &-thumbnail {
        width: 100%;
        min-height: 100%;
    }

    &-icon {
        position: absolute;
        top: 0;
        left: -5px;
        z-index: 2;
    }
}