.Requests {
    padding-bottom: 10px;

    &-item {
        background: rgba($secondary-color, 0.2);
        padding: 10px 20px;
        display: inline-flex;
        color: $headings-color;
        width: 100%;
        align-items: center;
    }

    &-username {
        color: $headings-color;
        margin-left: 10px;
        min-width: 100px;
    }

    &-buttonsContainer {
        display: flex;
    }

    &-title {
        font-weight: bold;
        font-size: 0.75rem;
        padding: 18px 18px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}