.RestOverview {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-bottom: 20px;

    &-img {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 5px;
        background: $light-grey;
        margin-right: 10px;

        img {
            min-width: 100%;
            min-height: 100%;
        }
    }

    &-name {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 520px) {
    .RestOverview {
        width: 100%;
        justify-content: flex-start;
    }
}
