@import './modules/RestOverview';

.NewEvent {
    max-width: 520px;
    margin: 0 auto;

    &-box {
        background: white;
        border-radius: 5px;
        padding: 30px;
        margin: 30px 10px 0;
    }

    &-content {
        padding: 20px;
    }

    &-title {
        display: block;
        font-size: 1.25rem;
        color: $headings-color;
    }

    &-restaurants {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    &-label {
        font-size: 0.688rem;
        color: #989898;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
}
