@import './modules/RestOverview';

.NewEvent {
    max-width: 500px;
    margin: 0 auto;

    &-box {
        background: white;
        border-radius: 5px;
        margin-top: 30px;
        padding: 30px;
    }

    &-content {
        padding: 20px;
    }

    &-title {
        display: block;
        font-size: 1.25rem;
        color: $headings-color;
    }

    &-restaurants {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    &-userPhoto {
        display: inline-block;
        background: $secondary-color;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 15px;
        vertical-align: middle;
    }
}
