@import './Modules/ParticipationBar';
@import './Modules/RestaurantInfo';

.EventDetail {
    background: #fff;

    &-title {
        color: $headings-color;
        font-weight: bold;
        font-size: 3rem;
    }

    &-mainImageContainer {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
    }

    &-textSide {
        background: #fff;
        min-height: calc(100vh - #{$menu-height});
    }

    &-calendar {
        position: fixed;
        z-index: 5;
        margin-top: 40px;
    }

    &-about {
        font-size: 0.875rem;
    }

    &-avatarsContainer {
        display: flex;
        align-items: center;
        margin: 0 -5px;
    }
}

@include media-breakpoint-up(md) {
    .EventDetail {
        &-mainImageContainer {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 50%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .EventDetail {
        &-textSide {
            box-shadow: -10px 0 10px rgba(#000, 0.1);
        }
    }
}
