@import 'variables';

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/_utilities';
@import '../../node_modules/bootstrap/scss/_type';

@import 'general';
@import 'typography';

@import './Modules/Button';
@import './Modules/EventItem';
@import './Modules/Header';
@import './Modules/Input';
@import './Modules/Link';
@import './Modules/Menu';
@import './Modules/SearchBar';
@import './Modules/Separator';

// Pages
@import './Login/Login';

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(#000, 0.01) 0 0 1px;
}

h1 {
    font-weight: bold;
    color: $headings-color;
}

h4 {
    font-weight: normal;
    color: $headings-color;
}

