@import 'variables';

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/_utilities';
@import '../../node_modules/bootstrap/scss/_type';

@import 'general';
@import 'typography';

@import './Modules/Avatar';
@import './Modules/Button';
@import './Modules/Calendar';
@import './Modules/Comments';
@import './Modules/EventItem';
@import './Modules/EventsContainer';
@import './Modules/Header';
@import './Modules/Input';
@import './Modules/Link';
@import './Modules/Menu';
@import './Modules/Notifications';
@import './Modules/PageContent';
@import './Modules/Rating';
@import './Modules/SearchBar';
@import './Modules/Separator';

// Pages
@import './Home/Home';
@import './Login/Login';
@import './EventDetail/EventDetail';
@import './NewEvent/NewEvent';

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(#000, 0.01) 0 0 1px;
    background: #F4F4F6;
}

h1 {
    font-weight: bold;
    color: $headings-color;
}

h4 {
    font-weight: normal;
    color: $headings-color;
}

h6 {
    font-size: 1rem;
    color: $headings-color;
}

